<!-- reviews-index -->
<h1>
    Reviews
</h1>

<!-- <a href="/reviews/new">
    New Review
</a> -->
<div class="row">
    {{#each reviews}}
        <div class="col-sm-6 col-sm-offset-3">
            <h3>
                <a href="/reviews/{{this._id}}">
                    {{this.title}}
                </a>
            </h3>

            <h4>
                {{this.movieTitle}}
            </h4>

            <h4>
                Rating: {{this.rating}}
            </h4>
            <p>
                <a href="/reviews/{{this._id}}/edit">
                    Edit
                </a>
            </p>
            <p>
                <form method="POST" action="/reviews/{{this._id}}?_method=DELETE">
            </p>
        </div>
    {{/each}}
</div>

<!-- Need method that
- makes list for storing user search terms
- keeps track of terms that have been searched
- reccommends search terms haha -->
