<!-- views/reviews-edit.handlebars -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/reviews/{{review._id}}?_method=PUT">
          <fieldset>
            <legend>Edit Review</legend>

            <div class="form-group">
              <label for="review-title">
                  Title
              </label>
              <br>
              <input id="review-title" type="text" name="title" value="{{review.title}}" onchange="save_title()" />
            </div>

            <div class="form-group">
              <label for="movie-title">
                  Movie Title
              </label>
              <br>
              <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" onchange="save_movie()" />
            </div>

            <div class="form-group">
                <label for="movie-rating">
                    Rating:
                </label>
                <select id="movie-rating" name="rating" value="{{review.rating}}" onchange="save_rating()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-group">
              <label for="review-description">
                  Description
              </label>
              <br>
              <textarea id="review-description" name="description" rows="10" onchange="save_desc()"/>{{review.description}}</textarea>
          </div>

          </fieldset>

          <div class="form-group">
              <button class="btn btn-primary" type="submit">
                  Save Review
              </button>
          </div>

        </form>

        <div class="form-group">
            <a href="/reviews/{{review._id}}" class="btn btn-default">
                Cancel
            </a>
        </div>

    </div>
</div>

  <script>

  function save_title() {
      var title = document.getElementById("review-title").value

      localStorage.setItem("review-title", title)
      console.log(title);
  }

  function save_movie() {
      var movie = document.getElementById("movie-title").value

      localStorage.setItem("review-movie", movie)
      console.log(movie);
  }

  function save_rating() {
      var number = document.getElementById("movie-rating").value
      var rating = Number(number)

      localStorage.setItem("review-rating", rating)
      console.log(rating);
  }

  function save_desc() {
      var desc = document.getElementById("review-description").value

      localStorage.setItem("review-desc", desc)
      console.log(desc);
  }

  </script>
